@charset "UTF-8";

body {
  font-size: 12px;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: "\20";
  clear: both;
  display: block;
}

/* 布局 */
.g-overflow-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.g-c-center {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.g-r-center {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.ant-table {
  overflow-x: auto !important;
}

.ant-table .ant-table-content {
  min-width: 800px;
}

/* table style */
.actionBox {
  padding: 10px 0;
}

.actionBox .ant-upload {
  float: right;
}

.actionBox button {
  margin-right: 10px;
}

.actionBox button:last-child {
  float: right;
  margin-right: 0;
}

.ant-table-wrapper {
  border-radius: 4px;
  background-color: #fff;
}

.ant-table-wrapper td,
.ant-table-wrapper th {
  text-align: center !important;
}

.ant-table-wrapper .ant-btn {
  margin-left: 10px;
}

.ant-table-wrapper .ant-btn:first-child {
  margin-left: 0;
}

.ant-pagination {
  margin: 16px 0;
  text-align: right;
}

/* editForm style */
.editContent {
  min-width: 700px;
  margin-top: 15px;
}

.editContent .form {
  float: left;
  width: 49%;
  min-height: 88vh;
  max-height: 88vh;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
}

.editContent .form:first-child {
  margin-right: 1%;
}

.editContent .form:last-child {
  margin-left: 1%;
}

#categoryList .ant-table-wrapper, #tagList .ant-table-wrapper {
  margin-top: 20px;
}
